*{
    font-family: 'Montserrat';
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.menu{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-left: 76px;
    margin-top: 44px;
    margin-bottom: 144px;
    color: #989D9C;
    cursor: pointer;
}
.first-button{
    width: 130px;
    height: 41px;
    background: #665AE1;
    border-radius: 20.5px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin-left: 23px;
    margin-top: 38px;
    text-transform: uppercase;
    box-shadow:  1px 2px 3px 1px rgba(0, 0, 0, 0.2);
}   
img{
    width: 568px;
    height: 500px;
    margin-left: 125px;
    margin-top: 44px;
    display: inline-block;
}
h1{
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
    margin-left: 86px;
    margin-top: 144px;
}
h2{
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
    margin-left: 86px;
}
p{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-left: 86px;
    margin-top: 32px;
}
.second-button{
    width: 239px;
    height: 64px;
    background: #ADFF00;
    border-radius: 30.5px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    text-transform: uppercase;
    border: none;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);
    margin-left: 86px;
    margin-top: 65px;
    cursor: pointer;
}
section{
    display: inline-block;
}
@media screen and (max-width:600px){
    header{
        display: none;
    }
    p{
        display: none;
    }
    img{
        position:relative;
        width: 354px;
        height: 317px;
        margin: 149px 22px 24px 25px;
    }
    h1{
        font-weight: 900;
        font-size: 50px;
        line-height: 61px;
        margin: 24px 63px 7px 64px;
        text-align: center;
    }
    h2{
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        margin: 0 79px;
    }
    .second-button{
        width: 239px;
        height: 64px;
        margin-top: 17px;
        margin-left: 76px;
    }
}